body {
    background-color: #303030;
}

#inputField {
    position: fixed;
    width: 140px;
    height: 30px;
    font-size: 25px;
    top: 400px;
    left: 180px;
    text-align: center;
}

#colorBox {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 100px;
    background-color: maroon;
}
